/* Doesn't work right now
@keyframes slideDown {
    0% {
        margin-top: -18px;
    } 25% {
        margin-top: -13.5px;
    } 50% {
        margin-top: -9px;
    } 75% {
        margin-top: -4.5px;
    } 100% {
        margin-top: 40px;
    }
}
*/

* {
    font-family: "Wix Madefor Display";
}

body {
    background-color: #f1fffb;
}

input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

*::placeholder {
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    user-select: none;
    overflow: hidden;
    background: linear-gradient(to right, #96ff76, #59ffca, #a8ff6a, #84ff84, #bdff6d, #96ffa6)
}

h1 {
    text-align: center;
    font-weight: 900;
}

h1 > a {
    text-decoration: none;
    color: #3c9448;
}

button {
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 60px 1px;
}

mark {
    background-color: #4fdd8d;
    color: #212121;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#top-bar,
.secondary-bar {
    background-color: #ffffff;
}

#top-bar {
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.top-bar-option {
    display: inline;
    padding: 5px 15px;
    border: none;
    background-color: #00000000;
}

.top-bar-option:hover,
.top-bar-option:active:not(#option-regex) {
    background-color: #c1eacc;
    transition: background-color 0.15s;
}

.top-bar-option:active:not(#option-regex) {
    opacity: 0.7;
}

#option-regex {
    font-weight: 500;
}

#option-regex:hover {
    background: linear-gradient(to right,#0937ab,#82ecff);
    color: white;
}

/* Doesn't work right now
.top-bar-option:active > #secondary-bar {
    animation: slideDown 1s;
}
*/

.secondary-bar {
    display: none;
    width: 100%;
    height: 40px;
    max-height: 40px;
    padding-left: 30px;
    border-top: solid 2px #4f6b4c;
}

.secondary-bar.active {
    display: block;
}

.secondary-bar button {
    padding: 5px 15px;
    height: 100%;
    border: none;
    background-color: transparent;
}

.secondary-bar button:hover {
    background-color: #d5d5d5;
    transition: background-color 0.1s;
}

.secondary-bar button:active {
    background-color: #aaaaaa;
}

.secondary-bar#view-options button {
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
    display: inline-flex;
    height: 25px;
    line-height: 25px;
}

#view-options button {
    background-color: #d0d0d0;
    color: #00000048;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s,
                color 0.3s;
}

#auto-fields-button.active {
    background-color: #e4433a;
    color: white;
}

#raw-log-button.active,
#matches-only-button.active {
    background-color: #4780fa;
    color: #ffffff;
}

#empty-lines-button.active {
    background-color: #1eb65d;
    color: white;
}

.secondary-bar#regex-edit-options {
    text-align: center;
}

#regex-query-search-bar {
    font-family: "Sarabun";
    font-weight: bold;
    width: 50%;
    margin: auto;
    background: linear-gradient(240deg, #8383832c, #83838336);
    border: solid 0.3px rgb(112, 112, 112);
    border-radius: 20px;
    color: #000000;
    padding: 5px 10px;
    outline: none;
}

#regex-query-search-bar::placeholder {  
    color: #4d4d4dad;
}

#regex-query-submit-btn {
    border-radius: 100px;
    border: none;
    background-color: #00000000;
    padding-left: 14px;
    font-size: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#regex-query-submit-btn:hover {
    color: #2162cb;
    text-shadow: 1px 0 10px #00d0ff;
    transition: color 0.2s,
                text-shadow 0.2s;
}

.form-field-parent {
    margin-top: 125px;
    display: flex;
}

#import-log-field {
    margin-top: 10px;
    margin-left: 50px;
    flex: 2;
}

.upload-form {
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    outline: dashed 3.5px #168aff;
    background-color: white;
    display: block;
    position: relative;
    overflow: hidden;
}

#loggerfile {
    visibility: hidden;
}

label {
    border-radius: 5px;
    outline: solid 2px #276fce00;
    padding: 50px 160px;
    width: max-content;
    display: block;
    user-select: none;
    cursor: pointer;
    margin: auto;
    position: relative;
}

label span {
    font-family: "Sarabun";
    text-transform: uppercase;
    color: #276fce;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

label:hover span {
    color: #3bc1ff;
    text-shadow: 0 0 1.2px #00ccff;
    transition: color 0.12s,
                text-shadow 0.12s;
}

#upload-icon {
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

#upload-button {
    background-color: #87d9ff;
    color: #ffffff9c;
    padding: 5px;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    width: 50%;
    margin: auto;
    cursor: default;
}

#upload-button.ready {
    background-color: #3bc1ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.15s,
                color 0.15s;
}

#upload-button.ready:hover {
    background-color: #58caff;
}

#upload-button.ready:active {
    background-color: #72d2ff;
    transition: background-color 0.05s,
}

.form-field {
    flex: 3;
    gap: 20px;
    padding: 50px;
}

#text-box {
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    resize: vertical;
    outline: none;
    border: none;
    padding-left: 7px;
    padding-top: 7px;
}

#text-box + input {
    background-color: #2072ef;
    color: #ffffff;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.1s;
}

#text-box + input:hover {
    background-color: #246bd5;
}

#text-box + input:active {
    background-color: #1f61c4;
}

.recent-files {
    text-decoration: none;
    color: #000000;
    transition: color 0.1s;
}

.recent-files:hover {
    color: #27874f;
}

.recent-files span {
    padding: 5px 2px;
    display: block;
    font-family: "Libre Franklin";
    background-color: #f1fffb00;
    transition: background-color 0.05s;
    user-select: none;
}

.recent-files span:hover {
    background-color: #cadfd999;
}

#clear-recent {
    border: none;
    background-color: #d2d2d2;
    border-radius: 1px;
    margin-top: 20px;
    padding: 5px 15px;
    transition: background-color 0.06s,
                color 0.1s;
}

#clear-recent:hover {
    background-color: #a5a5a5;
    color: white;
}

#clear-recent:active {
    background-color: #bbbbbb;
    color: #d6d6d6;
}

.logs-view {
    margin: 15% 0;
}

.logs-view h2 {
    margin-left: 60px;
}

#auto-fields.active,
#raw-log.active,
#matches-only.active,
#empty-lines.active {
    display: table; 
}

#auto-fields {
    border: solid 2px red;
    border-radius: 12px;
    width: 100%;
    text-align: left;
    border-spacing: 10px 1px;
    background-color: #e2e2e2;
    overflow: auto;
    white-space: nowrap;
    margin: 10px 30px;
    display: none;
}

#auto-fields th {
    background-color: #fffdf5;
    padding: 10px;
}

#auto-fields tr td {
    border: solid 1px black;
    background-color: white;
    padding: 10px;
}

#raw-log {
    width: 100%;
    margin-top: 20px;
    display: none;
}

th.line-number {
    text-align: left;
}

.line-number {
    width: 5%;
}

#matches-only {
    display: none;
}

#empty-lines {
    display: none;
}

.log-field {
    border-radius: 3px;
    padding: 14px;
    margin: 20px;
    background: linear-gradient(135deg,#fcfeff, #c1ffe0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}