* {
    font-family: "Wix Madefor Display";
}

body {
    background-color: #f1fffb;
    padding-top: 120px;
}

input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

*::placeholder {
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    user-select: none;
    overflow: hidden;
    background: linear-gradient(to right, #96ff76, #59ffca, #a8ff6a, #84ff84, #bdff6d, #96ffa6)
}

h1 {
    text-align: center;
    font-weight: 900;
}

h1 > a {
    text-decoration: none;
    color: #3c9448;
}

button {
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 60px 1px;
}

mark {
    background-color: #4fdd8d;
    color: #212121;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 1px;
}

#overlay {
    background-color: #21212121;
    z-index: 3;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#overlay.on {
    display: block;
}