/* Doesn't work right now
@keyframes slideDown {
    0% {
        margin-top: -18px;
    } 25% {
        margin-top: -13.5px;
    } 50% {
        margin-top: -9px;
    } 75% {
        margin-top: -4.5px;
    } 100% {
        margin-top: 40px;
    }
}
*/

* {
    font-family: Pridi;
}

body {
    background-color: #6cb36c;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: linear-gradient(to right, #96ff76, #59ffca, #a8ff6a, #84ff84, #bdff6d, #96ffa6)
}

h1 {
    text-align: center;
}

h1 > a {
    text-decoration: none;
    color: #3c9448;
}

#top-bar {
    background-color: #ffffff;
    height: fit-content;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.top-bar-option {
    display: inline;
    padding: 5px 15px;
    border: none;
    background-color: #00000000;
    cursor: pointer;
}

.top-bar-option:hover {
    background-color: #aae0b8;
    transition: background-color 0.2s;
}

.top-bar-option:active {
    background-color: #aae0b89b;
    transition: background-color 0.1s;
}

/* Doesn't work right now
.top-bar-option:active > #secondary-bar {
    animation: slideDown 1s;
}
*/

#secondary-bar {
    display: none;
    background-color: #ffffff;
}

#secondary-bar.active {
    display: block;
}

#secondary-bar > div {
    margin-left: 14px;
    padding-bottom: 10px;
}

#secondary-bar > #regex-edit-options {
    width: 50%;
    margin: auto;
}

#regex-query-search-bar {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    width: 85%;
    background: linear-gradient(170deg, #747474, #bdbdbd);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 3px 10px;
    outline: none;
}

#regex-query-search-bar::placeholder {  
    color: #ffffffad;;
}

#regex-query-submit-btn {
    border-radius: 100px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 1px gray;
    cursor: pointer;
}

.form-field-parent {
    margin-top: 125px;
    display: flex;
}

#import-log-field {
    margin-top: 10px;
    margin-left: 50px;
    flex: 2;
}

.form-field {
    flex: 3;
    gap: 20px;
    padding: 50px;
}

label {
    border: solid 1px black;
    border-radius: 5px;
    display: block;
    padding: 10px;
    width: 200px;
    background-color: rgb(243, 243, 243);
    color: rgb(39, 111, 206);
    user-select: none;
}

#text-box {
    resize: vertical;
}

.logs-view {
    margin: 15% 5%;
}

.log-field {
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
    background: linear-gradient(135deg,#daeeff, #ffc1d6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 60px 20px;
}

mark {
    text-shadow: 2px 2px 10px #02ffe2, 1px 1px 4px #daeeff;
    background-color: transparent;
    color: rgb(254, 254, 254);
}
