<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logger-session.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup-panels.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Wix+Madefor+Display:wght@400..800&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Logger &#8212; Free Log Analyzer</title>
    {% block head %}{% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='images/logger_logo.png') }}" type="image/x-icon">
</head>
<body>
    <div id="overlay"></div>

    <header>
        <h1><a href="{{url_for('index')}}">Logger &#8212; Free Log Analyzer</a></h1>
        <div id="top-bar">
            <!--<button class="top-bar-option" id="option-file" onclick="openSecondBar('file')">File</button>-->
            <!--<button class="top-bar-option" id="option-edit" onclick="openSecondBar('edit')">Edit</button>-->
            <button class="top-bar-option" id="option-view" onclick="openSecondBar('view')">View</button>
            <!--<button class="top-bar-option" id="option-format" onclick="openSecondBar('format')">Format</button>-->
            <button class="top-bar-option" id="option-regex" onclick="openSecondBar('regex')">RegEx Search</button>
        </div>
        
        <div class="secondary-bar" id="file-options">
            <button>Export As...</button>
        </div>

        <div class="secondary-bar" id="edit-options">
            <button id="cut-btn">Cut</button>
            <button id="copy-btn">Copy</button>
            <button id="paste-btn">Paste</button>
        </div>

        <div class="secondary-bar" id="view-options">
            <button id="auto-fields-btn" class="table-btn" onclick="toggleTable('auto-fields')">Logger Table</button>
            <button id="raw-log-btn" class="active table-btn" onclick="toggleTable('raw-log')">Raw Log</button>
            <button id="matches-only-btn" class="table-btn" onclick="toggleTable('matches-only')">Show only Lines that Match Regex</button>
        </div>

        <div class="secondary-bar" id="format-options">
            <button onclick="openPanel('fields-editor', 'configure')">Configure Fields</button>
            <button onclick="openPanel('fields-editor', 'add')">Add Field</button>
            <button>Change Delimiter</button>
        </div>

        <div class="secondary-bar" id="regex-edit-options">
            <form method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="Search with RegEx..." name="regex-query" id="regex-query-search-bar">
                <input type="submit" id="regex-query-submit-btn" value="&#9906;">
            </form>
        </div>
    </header>

    <!--Pop-up Panels-->
    <div id="fields-editor" class="panel">
        <div id="configure-field-interface">
            Configure Fields
            <div class="editor-body">
                <form method="POST" enctype="multipart/form-data">
                    <input type="text" name="field-name" placeholder="New Field Name">
                    <input type="text" name="field-regex-pattern" placeholder="Regex Pattern">
                    <input type="submit">
                </form>
            </div>
        </div>

        <div id="add-field-interface">
            Add Field
            <div class="editor-body">
                <form method="POST" enctype="multipart/form-data">
                    <input type="text" name="field-name" placeholder="New Field Name">
                    <input type="text" name="field-regex-pattern" placeholder="Regex Pattern">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html> 