<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Logger &#8212; Free Log Analyzer</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1><a href="{{url_for('index')}}">Logger &#8212; Free Log Analyzer</a></h1>
        <div id="top-bar">
            <button class="top-bar-option" onclick="openSecondBar()">File</button>
            <button class="top-bar-option" onclick="openSecondBar()">Edit</button>
            <button class="top-bar-option" onclick="openSecondBar()">View</button>
            <button class="top-bar-option" onclick="openSecondBar()">Format</button>
            <button class="top-bar-option" onclick="openSecondBar()">RegexEdit</button>
        </div>

        <div id="secondary-bar">
            <form method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="Search..." name="regex-query">
                <input type="submit" value="&#8594;">
            </form>
        </div>
    </header>

    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>