{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="form-field-parent">
        <div class="form-field" id="import-log-field">
            <h3>Import Logs</h3>
            <form method="POST" enctype="multipart/form-data" class="upload-form">
                <input type="file" accept=".txt, .csv" id="loggerfile" name="loggerfile">
                <input type="submit" value="Upload" id="upload-button" hidden>
                <label for="upload-button">
                    <img src="static/img/upload-icon.png" alt="Upload Button" id="upload-icon">
                    <span>Upload File</span>
                </label>
            </form>

            {%  if turnOn == True %}
                <h3>Recent</h3>
                {% for file in recent_files %}
                <ul>
                    <li>{{ file }}</li>
                </ul>
                {% endfor %}
                <form method="POST" enctype="multipart/form-data">
                    <input type="submit" name="clear-recent" value="Clear">
                </form>
            {% endif %}
        </div>

        <div class="form-field">
            <h3>Paste your logs here</h3>
            <form method="POST" enctype="multipart/form-data">
                <textarea name="log-text-field" id="text-box" cols="50" rows="10" placeholder="Paste your log text here..."></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock %}