<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Logger &#8212; Free Log Analyzer</title>
</head>
<body>
    <h1>Logger &#8212; Free Log Analyzer</h1>

    <div class="form-field">
        <h3>Import Logs</h3>
        <form method="POST" enctype="multipart/form-data" class="upload">
            <input type="file" accept=".txt, .csv" name="loggerfile">
            <input type="submit" value="Upload">
        </form>
    </div>

    <div class="form-field">
        <h3>Paste your logs here</h3>
        <form method="POST" enctype="multipart/form-data" class="upload">
            <input type="text" name="log-text" class="text-box" size="50" maxlength="50" placeholder="Paste your log text here...">
            <input type="submit" value="Upload">
        </form>
    </div>
</body>
</html>