{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="logs-view">
    <table id="auto-fields">
        <tr>
            <th>IP Address</th>
            <th>Hostname</th>
            <th>User</th>
        </tr>
        {% for line in ip_field %}
        <tr>
            <td>{{ line }}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>

    <table id="line">
        <tr>
            <th class="line-number">Line</th>
            <th>Log Message</th>
        </tr>
        {% for line in logs %}
        <tr>
            <td class="line-number">{{ loop.index }}</td>
            <td class="log-field">{{ line }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}