{% extends 'base.html' %}

{% block head %}
<style>
#option-regex {
    display: inline;       
}

#auto-fields-btn {
    visibility: hidden;
}
</style>
{% endblock %}

{% block body %}
<div class="logs-view">
    <h2>Search results for {{ pattern }} :</h2>

    <table id="raw-log" class="log-view active">
        <tr>
            <th class="line-number">Line</th>
            <th>Log Message</th>
        </tr>
        {% for result in results %}
        <tr>
            <td class="line-number">{{ loop.index }}</td>
            <td class="log-field">{{ result }}</td>
        </tr>
        {% endfor %}
    </table>

    <table id="matches-only" class="log-view">
        <tr>
            <th class="line-number">Line</th>
            <th>Log Message</th>
        </tr>
        {% for result in matches_only %}
        <tr>
            <td class="line-number">{{ loop.index }}</td>
            <td class="log-field">{{ result }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}