{% extends 'base.html' %}

{% block head %}
<style>
#option-regex {
    display: inline;       
}

#matches-only-btn {
    visibility: hidden;
}
</style>
{% endblock %}

{% block body %}
<div class="logs-view">
    <table id="auto-fields" class="log-view">
        <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
        </tr>
        {% for field in fields %}
        <tr>
            {% for index in range(len(field)) %}
            <td>{{ field[index] }}</td>
            {% endfor %}      
        </tr>
        {% endfor %}
    </table>

    <table id="raw-log" class="active log-view">
        <tr>
            <th class="line-number">Line</th>
            <th>Log Message</th>
        </tr>
        {% for line in logs %}
        <tr>
            <td class="line-number">{{ loop.index }}</td>
            <td class="log-field">{{ line }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}